:root {
    /* Define custom properties */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

/* All elements with the class visually-hidden should have their display to none */
.visually-hidden {
    display: none;
}

/* Revisit the section-tagline and card-category declarations */
.section-tagline {
    color: var(--color-primary);
}

.card-category {
    color: var(--color-primary);
}

/* Revisit the body and anchor declarations */
body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

